<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/Fruits.jpg' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'about' %}">About</a>
<a href="{% url 'contact' %}">Contact</a>
<a href="{% url 'products' %}">Products</a>
<a href="{% url 'services' %}">Services</a>
<a href="{% url 'gallery' %}">Gallery</a>
<h1>This is my Homepage</h1>
<p><span>Hey y'all, welcome to my landing page </span></p>
<img src="{% static 'images/Blueberries.jpg' %}" alt="Fruits" height="200" width="200">
</body>
</html>